
/* ----------------NAVBAR---------------- */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 24px;
    background-color: transparent;
    border-width: 1px;
    border-radius: 4px;

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: blue;
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: none;
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

/* ---------------SLIDER---------------*/

.carousel .carousel-inner .item img {
    width: 100%;
}

.carousel .carousel-caption {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
    display: block;
    z-index: 10;
}

.carousel .carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel .carousel-control.left span {
    margin-left: -10px;
    left: 50%;
}
.carousel .carousel-control.right span {
    margin-right: -10px;
    right: 50%;
}
@media (min-width: 768px) {
    .carousel-control span {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
}
.carousel .carousel-control {
    top: 50%;
    width: 30px;
    height: 60px;
    margin-top: -30px;
}
.carousel .carousel-control.left {
    border-radius: 0 5px 5px 0;
}
.carousel .carousel-control.right {
    border-radius: 5px 0 0 5px;
}
.carousel .carousel-control span {
    margin-top: -10px;
}
.carousel .carousel-control.left span {
    margin-left: -10px;
}
.carousel .carousel-control.right span {
    margin-right: -10px;
}
@media (min-width: 768px) {
    .carousel .carousel-control {
        width: 40px;
        height: 80px;
        margin-top: -40px;
    }
    .carousel .carousel-control span {
        margin-top: -14px;
    }
    .carousel .carousel-control.left span {
        margin-left: -14px;
    }
    .carousel .carousel-control.right span {
        margin-right: -14px;
    }
}


/* ----------------FOOTER---------------- */

